:root {
    --cor-primaria-1: #3E92CC;
    --cor-primaria-2: #2A628F;
    --cor-primaria-3: #13293D;
    --cor-primaria-4: #16324F;
    --cor-primaria-5: #18435A;

--cor-neutra-1: #fff;
--cor-neutra-2: #1d1d1d;
}

body {
    background-color: var(--cor-primaria-5);
}

section {
    padding: 28px 8%;
    
}

.btn-pedido {
    text-decoration: none;
    color: var(--cor-neutra-1);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria-2);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px #000000;
    transition: background-color 0.3s ease;
}

.btn-pedido:hover {
    background-color: var(--cor-primaria-1);
}
